
body{
    background-color: #bebec0 ;
   
}

h1{
    background-color:#e0e1e2;
    margin: 10px;
    padding: 20px;
    
}
.color-one{
    background-color:#2f84c5;
    margin: 1px;
    padding: 1px;
}

.color-two{
    background-color:#2a92d0;
    margin: 10;
    padding: 1px;
}
.color-three{
    background-color:#1e9ed9;
    margin: 10;
    padding: 1px;}


    .color-four{
        background-color:#36a8df;
        margin: 10;
        padding: 1px;
    }
    

.color-five{
    background-color:#56b5e6;
    margin: 10;
    padding: 1px;
}
.color-six{
    background-color:#73c1ec;
    margin: 10;
    padding: 1px;
}
.color-seven{
    background-color:#8ecaee;
    margin: 10;
    padding: 1px;
}
.color-eight{
    background-color:#1ab585;
    margin: 10;
    padding: 1px;
}
.color-nine{
    background-color:#f5b0cd;
    margin: 10;
    padding: 1px;
}
.color-ten{
    background-color:#f49dc2;
    margin: 10;
    padding: 1px;
}
.color-eleven{
    background-color:#f38cb4;
    margin: 10;
    padding: 1px;
}
.color-twelve{
    background-color:#f279a5;
    margin: 10;
    padding: 1px;
}
.color-tharteen{
    background-color:#f16997;
    margin: 10;
    padding: 1px;
}
.color-fourteen{
    background-color:#f0578b;
    margin: 10;
    padding: 1px;
}
.color-fivteen{
    background-color:#ee337e;
    margin: 10;
    padding: 1px;
}
